@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none ;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: rgb(213, 196, 196);
    
}
.container11{
    display: flex;
    gap: 100px;
}
.left11{
    position: sticky;
    top: 0;
    bottom: 0 ;
    height: 100vh;
    left: 0;
    width: 280px;
    /* width: 90px; */
    background: #d7d5d5;
    overflow: hidden;
    /* transition: 1s; */
    
    
  

} 
.left11:hover{
    width: 280px;
    transition: 1sec;
}
.logo11{
    text-align: center;
    display: flex;
    margin: 10px 0 0 0;
    padding-bottom: 3rem;
   
    
}
.logo11 img{
    width: 45px;
    height: 45px;

}
.logo11 span{
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}
.left11 a{
    position: relative;
    width: 280px;
    font-size: 14px;
    color: rgb(84, 83, 82);
    display: table;
    padding: 10px;
    
}
.left11 .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 10px;
    font-size: 20px;
    text-align: center;
    
    
}
.left-item{
    position: relative;
    top: 5px;
    margin-left: 10px;
    font-weight: bold;
}
.left11 a:hover{
    background: #eee;
    
    
}



/* main body css */

/* .main{
    margin-right: 100px;
}
  */
/* .main h1{
    text-align: center;
    color: cadetblue;
}
.main h2{
    margin: auto;
    text-align: center;
    color: rgb(84, 83, 82);
} */

/*Calender css */


/* Responsiveness */
